body {
	box-sizing:border-box;
	font-family: 'Raleway'
}

.container {
    max-width: 100%;
}

.container .content {
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
}

a {
	text-decoration: none;
	color: inherit;
}
h2 {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	text-transform: capitalize;
	font-size: 30px;
	padding-top: 30px
}

h3 {
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1px;
}

img {
	max-width: 100%;
    height: auto;
}

/*nav*/

nav img {
	padding: 30px 0;
}

nav ul {
	padding: 40px 0;
	float:right;
}

nav ul li {
	display: inline-block;
	padding-left: 10px;
	font-family: 'Open Sans', Sans-serif;
	color: #acafb4;
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: 600;
}

nav ul li:first-child {
	color: #000;
}

/*header*/

header {
	background-image: url(../imagen/indexbanner-bg3.jpg);
	background-size: cover;
}

header h1 {
	font-family: 'Open sans', Sans-serif;
	font-size: 35px;
	color: #fff;
	font-weight: 700;
	padding: 170px 0 42px 135px;
}

header p {
	font-size: 15px;
    color: #becbd4;
    line-height: 25px;
    padding: 0 0 246px 135px;
    width: 39%
}

/*section-one*/

.section-one form {
	margin-top: -35px;
	width: 100%;
}
.section-one form input:first-child {
	width: 88%;
    background-color: #fff;
    color: #becbd4;
    padding: 30px 30px;
    border: none;
    font-family: inherit;
    box-shadow: -1px 1px 4px rgba(0,0,0,.1);
}

.section-one form input:last-child {
	background: #00adf2;
    font-family: raleway;
    color: white;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    border: none;
    width: 12%;
    padding: 34px 0 30px 15px;
    margin-left: -5px;
    background-image: url(../imagen/icons/search.png);
    background-repeat: no-repeat;
    background-position: 23px; 
}

 .box {
	background: #fff;
    width: 24%;
    display: inline-block;
    text-align: center;
    margin: 70px 3px;
    padding: 0px 5px;
    box-sizing: border-box;
}

.box h3{
	padding-top: 30px;
}

.box p, .section-two p, .section-three p {
	font-size: 13px;
    line-height: 17px;
    padding: 25px 0 25px 0;
    color: #737373
}

.iconos {
	transition: 1.3s ease-in-out
}

.iconos:hover {
	transform: scale(1.25);
}

/*section-two*/

.section-two {
	text-align: center
}

.left {
	float:left;
	text-align: right;
}

.right {
	float: right;
	text-align: left;
}

.left, .right {
	width: 29%;
    padding-top: 85px;
}

.left img {
	float: right;
    position: relative;
    left: 22px;
    bottom: 20px;
    padding-bottom: 1pc}

.right img {
	float: left;
	position: relative;
	right:22px;
	bottom:20px;
	padding-bottom: 1pc;
}

.left li, .right li {
	padding-bottom: 30px;
}

.cellphone {
	margin: 50px 0;
}
 .iphone {
    width: 29%
}
/*section-three*/

.section-three {
	text-align: center;
	background-image: url(../imagen/pricing-bg.jpg);
	background-size: cover;
	margin-top: -120px;
}

.section-three .content{
	padding-top: 140px;
	padding-bottom: 170px;
}

/*section-four*/

.box2 {
	text-align: center;
    box-sizing: border-box;
    width: 22%;
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,.1);
    display: inline-block;
    margin: -100px 13px 60px 13px;

}

.box2 h3 {
	padding: 50px 0 20px 0;
}

.box2 h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
	font-weight: 700;
}

.sup {
	vertical-align: super;
	font-size:25px;
}

.box2 p {
	font-size: 14px
}

.box2 table {
	margin-left: 50px;
    text-align: left;
    font-size: 15px;
}

.blue {
	padding-left: 30px;
	color:#00aef3
}

.yellow {
	padding-left: 30px;
	color: #fce000;
}

.orange {
	padding-left: 30px;
	color:#ffa57b;
}

.red {
	padding-left: 30px;
	color:#fe9373;
}

.box2 table tr, td  {
	height: 30px;
	padding: 5px 0;
}

.box2 .line {
	width:80%;
	height: 1px;
	background: #d4d4d4;
	display:inline-block;
	margin: 65px 0 30px 0;

}

.box2 .select {
	color: white;
    padding: 12px 50px;
    display: inline-block;
    background: #00aef3;
    border-radius: 6px;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 15px;
    margin: 15px 0 45px 0;
}

/*section-five*/

.section-five {
	text-align:center;
	background: #142e3f
}

.section-five h2 {
	color: #fff;
    padding: 69px 0px;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 21px;
    text-transform: none;
}

.section-five span {
	color: #04b4fd;
	font-weight: 700;
	font-size: 25px;
}

/*footer*/
footer {
	background: #091722
}

footer p, footer ul {
	color:white;
	font-size: 10px;
	padding: 20px 0;
	display: inline-block;
}

footer ul {
	float: right;
}

footer ul li {
	display:inline-block;
	padding-left: 20px;
}


/*media-queries*/

@media screen and (max-width: 986px) {
	nav img {
		margin-left:  10px;
	}

	nav {
		text-align:center;
	}
	nav ul {
	float:none;
	}

	nav img {
		float:left;
	}

	header {
		background-position: center
	}
	.section-one form input:first-child {
    width: 85%;
   	}

   	.box {
   		width: 42%;
   		margin: 50px 0px;
    	padding: 0px 31px;
   	}

   	.section-one, .section-three, .section-four, footer {
   		text-align: center;
   	}

   	.section-three {
   		background-position: center
   	}

   	.box2 {
    width: 45%;

    margin-bottom: 137px;
	}

	footer ul {
		display:block;
		float:none;
	}

}

@media screen and (max-width: 768px) {
	nav img {
		float:none;
		padding: 12px 0;
	}

	nav ul {
    padding: 20px 0;
	}

	nav ul li {
		display: block;
		font-size: 17px;
		padding-bottom: 14px;
	}

	header {
		display:none;
	}
	
	.section-one form {
	margin-top: 0px;
	}

	.section-one form input:first-child {
    width: 75%;
	}
	.section-one form input:last-child {
		width:17%;
	}

	.left, .right {
	width: 100%;
    padding-top: 40px;
	}

	.left {
	text-align: left;
	}

	.right {
	float: none;
	}

	.left img {
	float: left;
    position: relative;
    left: 0px;
    bottom: 0px;
    padding: 0 25px 0 20px;
	}

	.right img {
		float: left;
		position: relative;
		right:0px;
		bottom:0px;
		padding: 0 25px 0 20px;
	}

	.cellphone {
		margin: 30px 0;
	}

	.section-three {
	
	margin-top: 0px;
	}

	.section-three .content{
	padding-top: 36px;
    padding-bottom: 48px;
	}
	
	.box2 {
		margin: 40px 13px;
	}
}

@media screen and (max-width: 580px) {
	.section-one form input:last-child {
    width: 23%;
	}
	.section-one form input:first-child {
    width: 67%;
	}
	.box {
    width: 99%;
    margin: 22px 0px;
    padding: 0px 0px;
	}
	.iphone {
    width: 50%;
	}
	.box2 {
    width: 42%;
	}

}